
/Service/telBookService/telBookService/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Service/telBookService/telBookService/obj/Debug/ResolveAssemblyReference.cache
/Service/telBookService/telBookService/obj/Debug/TempPE/Production.designer.cs.dll
/TerviseLeht/TerviseLehtService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Service.rar
/Service/telBookService/Client/bin/Debug/Client.vshost.exe.manifest
/Service/telBookService/Client/obj/x86/Debug/registreeri_page.baml
/Service/telBookService/Client/obj/x86/Debug/registreeri_page.g.cs
/Service/telBookService/Client/obj/x86/Debug/registreeri_page.g.i.cs
/Service/telBookService/Client/obj/x86/Debug/app_main_page.g.i.cs
/Service/telBookService/Client/obj/x86/Debug/login_page.baml
/Service/telBookService/Client/obj/x86/Debug/login_page.g.cs
/Service/telBookService/Client/obj/x86/Debug/login_page.g.i.cs
/Service/telBookService/Client/obj/x86/Debug/login_window.baml
/Service/telBookService/Client/obj/x86/Debug/login_window.g.cs
/Service/telBookService/Client/obj/x86/Debug/login_window.g.i.cs