
/Service/telBookService/telBookService/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Service/telBookService/telBookService/obj/Debug/ResolveAssemblyReference.cache
/Service/telBookService/telBookService/obj/Debug/TempPE/Production.designer.cs.dll
/TerviseLeht/TerviseLehtService/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Service.rar